@import './base.css';

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-image: url('@/assets/images/background.svg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@font-face {
  font-family: LeagueSpartan;
  src: url(.../assets/fonts/LeagueSpartan-Regular.ttf);
}
